<table>
    <thead>
      <tr>
        <th>Isbn</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Language</th>
        <th>Subject</th>
        <th>Library</th>
        <th>Available Count</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.isbn %></td>
            <td><%= book.title %></td>
            <td><%= book.authors %></td>
            <td><%= book.language %></td>
            <td><%= book.subject %></td>
            <td><%=  Library.find(book.library_id ).name %></td>
            <td><%= book.count %></td>
            <% if admin_signed_in? %>          
              <td><%= link_to 'Show/Edit', book %></td>
              <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>