
<p id="notice"><%= notice %></p>

<h1>Students</h1>

Name: <%= current_student.name %><br>
Email: <%=  current_student.email %><br>
<br>
<br>
<table>
  <th><strong>Student options</strong></th>
  
  <tr><td></td><tr>
  <tr><td><%= link_to "Edit profile", edit_student_registration_path(current_student) %></td></tr>
  <tr><td></td><tr>
  <tr><td></td><tr>
  <tr><td><strong>Books</strong></td><tr>
  <tr><td><%= link_to 'View Books', books_path %></td></tr>
  <tr><td></td><tr>
  <tr><td></td><tr>
  <tr><td><strong>Libraries</strong></td><tr>
  <tr><td><%= link_to 'View Libraries', '/libraries' %></td></tr>
  <tr><td></td><tr>
  <tr><td></td><tr>
  <tr><td><strong>Your Data</strong></td><tr>
  <tr><td><%= link_to 'Your Activity (Checkouts/Bookmarks/Hold Requests)', getBookmarkBooks_path %></td></tr>
</table>
<%= link_to('Logout', destroy_student_session_path, method: :delete) %>