<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_student.email %>
</p>

<p>
  <strong>Education Level:</strong>
  <%= current_student.education_level %>
</p>

<p>
  <strong>University:</strong>
  <%= current_student.university %>
</p>

<p>
  <strong>Max books:</strong>
  <%= current_student.max_books %>
</p>

<%= link_to 'Edit', edit_student_path(current_student) %> |
<%= link_to 'Back', students_path %>
