<h1> Oversue Books and Fine</h1>
<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Title</th>
      <th>Author</th>
      <th>Edition</th>
      <th>Subject</th>
      <th>Fine</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @fines.each do |fine| %>
      <tr>
        <td><%= Student.find(fine[:student_id]).name %></td>
        <td><%= Book.find(fine[:book_id]).title %></td>
        <td><%= Book.find(fine[:book_id]).authors %></td>
        <td><%= Book.find(fine[:book_id]).edition %></td>
        <td><%= Book.find(fine[:book_id]).subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>