<p id="notice"><%= notice %></p>

<h1>Books</h1>
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Title" %>
  <%= submit_tag "Search" %>
<% end %>
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search1, params[:search1], placeholder: "Search by Author" %>
  <%= submit_tag "Search" %>
<% end %>
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search2, params[:search2], placeholder: "Search by Published Date" %>
  <%= submit_tag "Search" %>
<% end %>
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search3, params[:search2], placeholder: "Search by Subject" %>
  <%= submit_tag "Search" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Title</th>
      <th>Author</th>
      <th>Language</th>
      <th>Published</th>
      <th>Edition</th>
      <th>Associated library</th>
      <th>Subject</th>
      <th>Summary</th>
      <th>Special</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.language %></td>
        <td><%= book.published %></td>
        <td><%= book.edition %></td>
        <td><%= book.associated_library %></td>
        <td><%= book.subject %></td>
        <td><%= book.summary %></td>
        <td><%= book.special %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if admin_signed_in? or librarian_signed_in? %>          
          <td><%= link_to 'Show/Edit', book %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'View Book History', controller: "books", action: "viewBookHistory", id: book %></td>
        <% else %>
        <td><%= link_to 'Checkout', controller: "books", action: "checkout", id: book %></td>
        <td><%= link_to 'Bookmark', controller: "books", action: "bookmark", id: book %></td>
        <td><%= link_to 'Request Book', controller: "books", action: "requestBook", id: book %></td>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in? or librarian_signed_in?%>
<%= link_to 'New Book', new_book_path %>
<%end%>
