<h1>Librarians</h1>

<table>
<<<<<<< HEAD
  <th><strong>Librarian Rights</strong></th>
	<tr><td></tr></td>
	<tr><td></tr></td>
	<tr><td><%= link_to 'Edit Profile', edit_librarian_path(current_librarian) %></td></tr>
	<tr><td></tr></td>
	<tr><td><strong>Books</strong></tr></td>
	<tr><td><%= link_to 'Add New Book', new_book_path %></td></tr>
    <tr><td><%= link_to 'View Books (Details/Edit/Delete)', librarian_book_view_path %></td></tr>
	<tr><td><%= link_to "Logout", root_path %></td></tr>
</table>
=======
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Library</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.name %></td>
        <td><%= librarian.email %></td>
        <td><%= librarian.library %></td>
		<td><%= link_to 'Show/Edit', edit_librarian_registration_path %></td>
		<td><%= link_to 'Destroy', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
>>>>>>> upstream/master
