<h1>Librarian Panel</h1>
Name: <%= current_librarian.name %><br>
Email: <%=  current_librarian.email %><br>
<br>
<table>
  <th><strong>Librarian Rights</strong></th>
	<tr><td></tr></td>
	<tr><td></tr></td>
	<tr><td><%= link_to 'Edit Profile', edit_librarian_path(current_librarian) %></td></tr>
	<tr><td></tr></td>
	<tr><td><strong>Books</strong></tr></td>
	<tr><td><%= link_to 'Add New Book', new_book_path %></td></tr>
    <tr><td><%= link_to 'View Books (Details/Edit/Delete)', librarian_book_view_path %></td></tr>
</table>