<%if false%>
<h1>Librarians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Library</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.name %></td>
        <td><%= librarian.email %></td>
        <td><%= librarian.library %></td>
		<td><%= link_to 'Show/Edit', edit_librarian_registration_path %></td>
		<td><%= link_to 'Destroy', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%end%>
<p id="notice"><%= notice %></p>
<p>
    <strong>Name: </strong>
    <%= current_librarian.name %>
</p>

<p>
    <strong>Email: </strong>
    <%= current_librarian.email %>
</p>

<p>
    <strong>Library: </strong>
    <%= current_librarian.library %>
</p>

<tr><td><%= link_to 'View Checked Out Books', list_checkedoutBooks_path %></td></tr>
<tr><td><%= link_to 'View Overdue Books and Student Fine', getOverDueBooks_path %></td></tr>
<tr><td><%= link_to 'View Book Hold Request ', viewHoldRequestForLibrarian_path %></td></tr>
<tr><td><%= link_to 'View Books (Details/Edit/Delete/Borrowing History)', '/books' %></td></tr>

<%= link_to "Edit", edit_librarian_registration_path(current_librarian) %>
<%= link_to "Back", librarians_path %>
