<p id="notice"><%= notice %></p>

<h1>Book Histories</h1>

<table>
  <thead>
    <tr>
      <th>Issue date</th>
      <th>Return date</th>
      <th>Is checked out</th>
      <th>On hold</th>
      <th>Fine amt</th>
      <th>Is approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_histories.each do |book_history| %>
      <tr>
        <td><%= book_history.issue_date %></td>
        <td><%= book_history.return_date %></td>
        <td><%= book_history.is_checked_out %></td>
        <td><%= book_history.on_hold %></td>
        <td><%= book_history.fine_amt %></td>
        <td><%= book_history.is_approved %></td>
        <td><%= link_to 'Show', book_history %></td>
        <td><%= link_to 'Edit', edit_book_history_path(book_history) %></td>
        <td><%= link_to 'Destroy', book_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book History', new_book_history_path %>
